# Root-level .gitignore

# Node.js (Frontend)
frontend/node_modules/
frontend/.next/

# Python (Backend)
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/
backend/static/

# OS-specific
.DS_Store

# Other
*.log